<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog Check</h1>
        </a>
        <p>A Lakshya Kohli Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <!-- <form action = "/search" method = "get" class="search_form" role="search">
            <input type="search" aria-label="Search" id ="searchInput" name="searchTerm" placeholder="Search for blogs.." required>
            <input type="submit" value="Search">
        </form> -->
        <% if(user) {%>
        <li><a href="/blogs/create">New Blog</a></li>
        <li><a href="/profile/myblogs">My Blogs</a></li>
        <li><a href="/profile">Profile</a></li>
        <% } else {%>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
    </ul>
</nav>