<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
        <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
        <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>