<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs')%>
        <header>
            <h2>Login using...</h2>
        </header>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a>
        </main>
</body>

</html>